@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');

body{
  height: 100vh;
  background-image: url('images/hero.jpg');
  background-position: center;
  background-size: cover;

}
#background-change {
  background-position: center;
  background-size: cover;
  background-image: contain;
  transition: background-image 2s ease;
}
.news{

  background-image:url('images/news.jpg');

}

.story{
    background-image:url('images/story.jpg');

}
.restaurant{
    background-image:url('images/restaurant.jpg');


}
.events{
  background-image:url('images/events.jpg');

}

.nightlife{
    background-image:url('images/nightlife.jpg');

}
.weather{
  background-image:url('images/weather.jpg');

}
.landmark{
  background-image: url('images/landmark.jpg');



}
.news-column{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-bar{
  margin-bottom: 295px;
}
.random-stories{
 display: flex;
 justify-content: space-between;
 }
.random-story{
  background-image:url('images/story.jpg');
  width: 100px;
  height: 150px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Gochi Hand', cursive;
  font-size: 35px;
  color:white;
  text-align: center;
  text-shadow: 2px 2px #FF0000;
  opacity: 0.8;
  border:3px solid white;

}
.random-story:hover{
  opacity: 1;
  cursor: pointer;
}
.city-information {

  width: 90px;
  height: 180px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
  color:white;
  text-align: center;
  opacity: 0.8;
  text-shadow: 2px 2px #FF0000;
  border:3px solid white;

}
.city-information:hover{
  opacity: 1;
  cursor: pointer;
}
.searchbar-button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 3px;

}
.story-image{

  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}
.main-name{
  font-size: 60px;
  text-shadow: 3px 3px black;
  color:red;
  font-weight: bold;

}
.news-index{
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
.auth-label{
    text-shadow: 2px 2px white;

}

.searchbar-inputs{
  width: 40%;
}
.home-text{
  margin-left: 20px;
}
.marker-btn{
  background:none;
  border:none;
  outline: none;
  cursor: pointer;
}
.marker-btn img{
  width: 30px;
  height: 30px;

}
