@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
$base-color: rgb(0, 0, 77);
#background-change {
  background-position: center;
  background-size: cover;
  background-image: contain;
  transition: background-image 2s ease;
}

body, html {
  height: 100%;
}

section.section{
  height: 100%;
  min-height: 100vh;
  // height: 100vh;
  background-attachment: fixed;
  background: cover;


}
.background-color {
  height: auto;
  background-color: #ffdd57;
}
section.section.short-section{
  height:100vh;
}

.container.columns {
  max-width: 100%;
}

.news{

  background-image:url('images/news.jpg');

}
.story{
    background-image:url('images/story.jpg');
}
.restaurant{
    background-image:url('images/restaurant.jpg');
}

.full-width {
  width: 100%;
  margin: 0;
}

.full-width-child {
  width: 110%;
}

.user-container {
  display: flex;
  justify-content: center;
  img {
    max-width: 70px;
    max-height: 70px;
  }
}

.events{
  background-image:url('images/events.jpg');

}

.nightlife{
    background-image:url('images/nightlife.jpg');

}
.weather{
  background-image:url('images/weather.jpg');

}
.landmark{
  background-image: url('images/landmark.jpg');
}
.city-name{
  background-color: red;
  height: 10px;
  width: 30%;
  text-shadow: 4px 4px black;
  text-align: center;

}
.flash-message{
  background-color:rgb(255, 255, 153);
  color: $base-color;
  text-align: center;
  font-size: 20px;
  padding: 15px;
}
.news-column{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-bar{
  margin-bottom: 295px;
}
@media only screen and (max-width: 400px) {
  .search-bar{
    margin-bottom: 180px;
  }
  .random-story div{
    width: 20px;
    height: 26px;
    font-size:22px;
    text-align: center;
  }

}
@media only screen and (max-width: 600px) {
  .random-story div{
    width: 40px;
    height: 60px;
    font-size: 22px;
  }
  .searchbar-inputs {
    width: 100%;
  }

}

.random-stories{
 display: flex;
 justify-content: space-between;
 }
.random-story{
  background-image:url('images/story.jpg');
  width: 100px;
  height: 150px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Gochi Hand', cursive;
  font-size: 35px;
  color:white;
  text-align: center;
  text-shadow: 2px 2px #FF0000;
  opacity: 0.7;
  border:3px solid white;

}
.random-story:hover{
  opacity: 1;
  cursor: pointer;
}
.city-information {

  width: 90px;
  height: 180px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
  color:white;
  text-align: center;
  opacity: 0.8;
  text-shadow: 2px 2px #FF0000;
  border:3px solid white;

}
.city-information:hover{
  opacity: 1;
  cursor: pointer;
}
.searchbar-button{
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 3px;

}
.story-image{

  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}
.main-name{
  font-size: 60px;
  text-shadow: 3px 3px black;
  color:red;
  font-weight: bold;

}

@media only screen and (max-width: 400px) {
  .main-name {
    font-size: 40px;

  }
}

.news-index{
  display: flex;
  flex-direction: row;
  align-items: space-between;
}
.auth-label{
    text-shadow: 2px 2px white;

}
.loader-section{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  .loader-img{
    width: 100vh;
    height: 80vh;
  }

}

div.button-home-text {
  display: flex;

  h3 {
    margin-top: 5px;
    display: inline-block;
    font-weight: 600;
  }
}

.searchbar-inputs{
  width: 40%;

  .button {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .searchbar-inputs {
    width: 100%;
  }

}

.home-text{
  margin-left: 20px;
}
.marker-btn{
  background:none;
  border:none;
  outline: none;
  cursor: pointer;
}
.marker-btn img{
  width: 30px;
  height: 30px;

}
.searchbar-landmark{
  width: 100px;
  height: 30px;
}
.search-results{
  background: white;
  color: black;
}
